body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 212, 54);
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(240, 218, 19);
}

#feedback {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.correct {
    color: #28a745;
}

.incorrect {
    color: #dc3545;
}

#next-button {
    color: white;
    background-color: #28a745;
}

#restart-button {
    color: white;
    background-color: #007bff;
}

#restart-button:hover {
    background-color: #0056b3;
}

#next-button:hover {
    background-color: #218838;
}